@charset "utf-8";

body{
    height: 100vh;
    overflow-x: hidden;
}
.top_banner{
    width: 100%;
    height: 840px;
}
.top_banner .banner_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 297px;
    height: 274px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #fff;
    top: -550px;
}

.top_banner .banner_txt h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.top_banner .banner_txt h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.top_banner .banner_txt p{
    font-size: 18px;
    margin-bottom: 40px;
}

.top_banner .banner_txt .banner_item{
    width: 297px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.top_banner .banner_txt .banner_item a{
    font-size: 14px;
    margin: 0 auto;
}
/* .top_banner .banner_txt .banner_item a::after{
    content: "";
    display: block;
    position: absolute;
    left: 3;
    width: 15px;
    height: 1px;
    background: #fff;
} */
.header_area{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 9999;	
    color: #1a1a1e;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px;
}
.header_area .header_flex{
    display: flex;
    align-items: center;
}
.header_area .logo{
    width: 192px;
    height: 40px;
    margin-right: 64px;
    margin-left: 50px;
    flex-shrink: 0;
}
.header_area .header_left{
    width: 100%;
    height: 100%;
}
.header_area .header_left .main_menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_area .header_left .main_menu .main_li{
    margin-right: 32px;
    font-size: 12px;
}
.header_area .header_right{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 30px;
    margin-right: 50px;
}
.header_area .header_right #hamburger{
    display: none;
}
.header_area .header_right .icon{
    width: 25px;
    height: 25px;
}

.sub_menu_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 50%; */
    padding: 90px 0;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}

.sub_menu_box .sub_menu{
    width: 70%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    /* position: absolute;
    left: 50%; */
    margin: 0 auto;
    /* transform: translateX(-50%); */
    opacity: 0;
    z-index: -99;
    transition: 0.3s;
}
.sub_menu_box .woman1 .sub_main,
.sub_menu_box .man1 .sub_main{
    display: flex;
    /* height: 277px; */
    width: 80%;
}
.sub_menu_box .woman1 .sub_menu_detail,
.sub_menu_box .man1 .sub_menu_detail{
    width: 55%;
}


.sub_menu_box .sub_menu_head{
    font-size: 0.875rem;
    color: #1a1a1e;
    font-weight: 500;
    margin-bottom: 7px;
}
.sub_menu_box .sub_menu_body{
    font-size: 0.875rem;
    /* font-weight: 500; */
    color: #a8a8a8;
    margin-top: 8px;
    display: inline;
    line-height: 23px;
    text-transform: uppercase;
}

.sub_menu_box.active{
    opacity: 1;
    z-index: 99;
}
.sub_menu_box .sub_menu.active{
    opacity: 1;
    z-index: 100;
}


.section_wrap{
    height: 100%;
    margin-bottom: 100px;
}
.section_wrap .section{
    height: 100%;
    width: 100%;
}
.section_wrap .section .section_main{
    width: 100%;
    height: 845px;
}
.section_wrap .section .section_main .section_box1{
    background: url(../maison_img/section1_1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.section_wrap .section .section_main .section_box1{
    height: 100%;
}

.section_wrap .section .section_main .section1_col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_wrap .section .section_main .section_box3{
    background: url(../maison_img/section1_3.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.section_wrap .section .section_main .section1_col .section1_txt{
    text-align: center;
    color: #fff;
}
.section_wrap .section .section_main .section1_col .section1_txt h2{
    font-size: 30px;
}
.section_wrap .section .section_main .section1_col .section1_txt p{
    font-size: 18px;
    margin-top: 10px;
}
.section_wrap .section .section_main .section1_col .section1_txt h4{
    font-size: 15px;
    margin-bottom: 5px;
}
.section2_wrap{
    height: 950px;
    background: url(../maison_img/section2_bg2.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2_wrap .section2_left{
    width: 234px;
    height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    margin-right: 186px;
    color: #fff;
    margin-bottom: 7px;
}
.section2_wrap .section2_left p{
    font-size: 30px;
    margin-bottom: 20px;
}
.section2_wrap .section2_left h2{
    width: 234px;
    height: 214px;
    font-size: 90px;
    margin-bottom: 40px;
}
.section2_wrap .section2_left a{
    font-size: 22px;
    text-align: center;
}
.section2_wrap .section2_right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 2940px; */
}
.section2_wrap .section2_right .section2_main{
    display: flex;
}
.section2_wrap .section2_right .section2_main .section2{
    height: 700px;
    color: #fff;
    text-align: center;
    padding-top: 650px;
}
.section2_wrap .section2_right .section2_main .section2_1{
    background: url(../maison_img/section2_1.webp) no-repeat;
    background-position: center;
    background-size: cover;
}.section2_wrap .section2_right .section2_main .section2_2{
    background: url(../maison_img/section2_2.webp) no-repeat;
    background-position: center;
    background-size: cover;
}.section2_wrap .section2_right .section2_main .section2_3{
    background: url(../maison_img/section2_3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}.section2_wrap .section2_right .section2_main .section2_4{
    background: url(../maison_img/section2_4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}.section2_wrap .section2_right .section2_main .section2_5{
    background: url(../maison_img/section2_5.webp) no-repeat;
    background-position: center;
    background-size: cover;
}

.section3{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: #fff;
    padding-top: 290px;
}

.section3 .section3_logo{
    width: 509px;
    height: 100px;
    fill: #fff;
}
.section3_top{
    background: url(../maison_img/section3_1.jpg) no-repeat;
    background-size: cover;
}
.section3_bottom{
    background: url(../maison_img/section3_2.jpg) no-repeat;
    background-size: cover;
}
.section3 .section3_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    padding-bottom: 60px;
}
.section3 .section3_txt h2{
    font-size: 66px;
}
.section3 .section3_txt .btn_txt a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 45px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-top: 30px;
    transition: 0.3s;
}
.section3 .section3_txt .btn_txt a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.section4_wrap{
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 140px;
}
.section4_wrap .swiper-button-next, .section4_wrap .swiper-rtl .swiper-button-prev{
    right: 0px;
}
.section4_wrap .section4_left{
    width: 574px;
    height: 400px;
    background: url(../maison_img/section4_main.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    margin-right: 30px;
}

.section4_wrap .sec4_right_container{
    width: calc(100% - 574px);
    position: relative;
    padding: 0 50px;
}
.section4_wrap .sec4_right_container .section4_right{
    display: flex;
}
.section4_wrap .sec4_right_container .section4_right .section4_main .section4_item{
    height: 100%;
    width: 100%;
    /* padding: 0px 40px; */
}
.section4_wrap .sec4_right_container .section4_right .section4_main .section4_item .imgbox{
    /* width: 217px; */
    height: 279px;
} 
.section4_wrap .imgbox img{
    object-position: center top;
}
.section4_wrap .sec4_right_container .section4_right .section4_main .section4_item .txt_box{
    width: 173px;
}
.section4_wrap .sec4_right_container .section4_right .section4_main .section4_item .txt_box .top_txt{
    color: #1a1a1e;
}
.section4_wrap .sec4_right_container .section4_right .section4_main .section4_item .txt_box .price_txt{
    margin-top: 10px;
    font-size: 10px;
    color: #c4c4c4;
    width: 173px;
}

.section4_wrap .section4_right .section4_main .section4_item .txt_box .sale_txt{
    font-size: 12px;
}
.section4_wrap .section4_right .section4_main .section4_item .txt_box .sale_txt span{
    color: #1a1a1e;
}
.section4_wrap .section4_right .section4_main .section4_item .txt_box .sale_txt .sale{
    color: #7e00ff;
}

.section5_wrap{
    width: 1400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.section5_wrap h2{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 70px;
    color: #1a1a1e;
}
.section5_wrap .section5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section5_wrap .section5 .section5_box{
    width: calc(25%);
    margin-right: 20px;
    text-align: left;
    font-size: 18px;
    color: #1a1a1e;
}

footer{
    border-top: 1px solid #d1d1d1;
}
.footer_wrap{
    height: 100%;
    width: 1400px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 35px;

}

.footer_wrap .footer_top{
    height: 300px;
    width: 1400px;
    display: flex;
}
.footer_wrap .footer_top .footer_right{
    display: flex;
    width: 100%;
}
.footer_wrap .footer_top .footer_col{
    width: 50%;
    margin-right: 20px;
}
.footer_wrap .footer_top .col_left{
    height: 270px;
    border-right: 1px solid #d1d1d1;
}
.footer_wrap .footer_top .footer_col .bold{
    font-weight: 800;
}
.footer_wrap .footer_top .footer_col li a{
    font-size: 15px;
    line-height: 30px;
    display: inline;
}
.footer_wrap .footer_top .col_center{
    height: 270px;
    border-right: 1px solid #d1d1d1;
}

.footer_wrap .sns_box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.footer_wrap .sns_box .btn_sns{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 12px;
    border-radius: 50%;
    background: #b0b0b0;
    transition: 0.9s;
}
.footer_wrap .sns_box .btn_sns::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
}
.footer_wrap .sns_box .btn_yt::after{
    background: url(../maison_img/youtube.svg) no-repeat;
    background-size: cover;
}
.footer_wrap .sns_box .btn_in::after{
    background: url(../maison_img/instagram.svg) no-repeat;
    background-size: cover;
}
.footer_wrap .sns_box .btn_sns:hover{
    background-color: rgb(69, 69, 80);
}
.footer_bottom{
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer_bottom .fb_first{
    margin-top: 55px;
}
.footer_bottom .fb_first span{
    font-weight: 600;
}
.footer_bottom .fb_txtbox .fb_txt{
    font-size: 15px;
}
.footer_bottom .fb_last{
    padding: 30px 0px;
}
.footer_bottom .fb_last span{
    font-weight: 600;
    text-decoration: underline;
}

.swiper-button-next, .swiper-button-prev {
    color:#1a1a1e !important
}

@media (max-width:1430px){
    .section4_wrap{
        margin: 0 auto;
        width: 100%;
        flex-wrap: wrap;
        padding: 0 11vw;
        /* 원하는 만큼 패딩 */
        /* 지정하고싶은 패딩값(160px) / 기기값(1430px) * 100 = 11vw */
    }
    .section4_wrap .swiper-button-next, .section4_wrap .swiper-rtl .swiper-button-prev{
        right: 0;
    }
    
    .section4_wrap .section4_left{
        width: 100%;
        background-size: cover;
        margin-bottom: 30px;
        margin-right: 0;
    }
    .section4_wrap .sec4_right_container{
        width: 90%;
    }
    
    .sec4_right_container .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
        padding-left: 0px;
    }    
    .section5_wrap{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 100px;
    }
    .section5_wrap h2{
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 70px;
        color: #1a1a1e;
    }
    .section5_wrap .section5{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .section5_wrap .section5 .section5_box{
        width: calc(33%);
        text-align: left;
        font-size: 18px;
        color: #1a1a1e;
        margin-bottom: 50px;
    }
    .footer_wrap .footer_top {
        padding-left: 20px;
    }
}

@media (max-width:1160px){
    .section_wrap{
        margin-bottom: 50px;
    }
    .section2_wrap{
        background: none;
        display: block;
        height: auto;
    }
    .section2_wrap .section2_right .section2_main{
        align-items: center;
        flex-direction: column;
    }
    .section2_wrap .section2_left{
        color: #1a1a1e;
    }
    .section2_wrap .section2_left{
        margin-left: 0;
        margin-right: 0;
    }
    .section2_wrap .section2_left h2,
    .section2_wrap .section2_left{
        width: auto;
        height: auto;
        font-size: 60px;
    }
    .section2_wrap .section2_left a{
        display: none;
    }
    .section2_wrap .section2_right .section2_main .section2_1{
        background: url(../maison_img/section2_1.webp) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section2_wrap .section2_right .section2_main .section2_2{
        background: url(../maison_img/section2_2.webp) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section2_wrap .section2_right .section2_main .section2_3{
        background: url(../maison_img/section2_3.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section2_wrap .section2_right .section2_main .section2_4{
        background: url(../maison_img/section2_4.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section2_wrap .section2_right .section2_main .section2_5{
        background: url(../maison_img/section2_5.webp) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section2_wrap .section2_right .section2_main .section2{
        width: 700px;
        margin-bottom: 50px;
    }
    .section_wrap .section .swiper-button-next:after, 
    .section_wrap .section .swiper-button-prev:after {
        display: none;
    }
    .section4_wrap .sec4_right_container{
        width: 100%;
    }
    .footer_wrap{
        width: 100%;
    }
    .footer_wrap .footer_top{
        width: 100%;
    }
    .footer_wrap .footer_top .footer_col{
        width: 50%;
    }
    .footer_wrap .footer_top .footer_right{
        width: 70%;
    }

}
@media (max-width:1000px){
    .header_area .logo {
        width: 204px;
        height: 40px;
        margin-right: 0;
        margin-left: 0;
    }
    .main_menu .main_li,
    .heart,.shop{
        display: none;
    }
    .header_area .header_right #hamburger{
        display: block;
        width: 20px;
        height: 10px;
        z-index: 99999;
        position: relative;
    }
    #hamburger span{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #262320;
        transition: 0.3s;
    }
    #hamburger span:first-child{
        top: 0;
        left: 0;
    }
    #hamburger span:last-child{
        top: 100%;
        left: 0;
    }
    .section_wrap .section .section_main .section_box1 {
        background-position: -400px;
    }
    .footer_wrap .footer_top .footer_right{
        display: block;
    }
    .footer_wrap .footer_top .col_left {
        border-right: none
    }
    .footer_wrap .footer_top .col_center{
        height: 124px;
        border: none;
    }
    .footer_wrap .footer_top .col_right{
        margin-top: 10px;
    }
    .footer_wrap .footer_bottom{
        display: block;
        width: 100%;
        padding-left: 10px;
        text-align: left;
    }
    .footer_wrap .footer_top .footer_col{
        margin-right: 0;
    }
    .section4_wrap .sec4_right_container {
        width: 100%;
    }
}
@media (max-width:780px){
    .section5_wrap{
        padding-left: 10px;
    }
    .section5_wrap h2 {
        margin-left: 0;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 0;
        text-align: left;
    }
    .section5_wrap .section5 .section5_box{
        width: calc(50% - 20px);
        margin-bottom: 18px;
        font-size: 14px;
        font-weight: 500;
    }
    .section5_wrap .section5 .section5_box:nth-child(odd){
        margin-right: 20px;
    }
    .footer_wrap .footer_top .footer_col li a{
        font-size: 14px;
    }
    .footer_wrap .footer_top .footer_right{
        width: 50%;
    }
}
@media (max-width:750px){
    .section4_wrap .section4_left {
        width: 90%;
        height: 300px;
        margin-right: 0;
    }
    .section4_wrap .section4_left {
        font-size: 14px;
    }
    .section2_wrap .section2_left h2{
        font-size: 40px;
    }
    .section2_wrap .section2_left p{
        font-size: 20px;
    }
    .header_area .header_right .icon {
        margin-right: 25px;
    }
    .section2_wrap .section2_right .section2_main .section2 {
        width: 500px;
    }
    .section2_wrap {
        margin-bottom: 60px;
    }
    .section3{
        padding-top: 180px;
        margin-bottom: 50px;
        height: 600px;
    }
    .section3 .section3_logo {
        width: 300px;
    }
    .section3 .section3_txt h2 {
        font-size: 40px;
        width: 217px;
        text-align: center;
    }
    .section3 .section3_txt {
        margin-top: 0;
    }
    .section_wrap .section .section_main .section_box1 {
        background-position: -600px;
    }
    .section4_wrap{
        padding: 0;
    }
    .section4_wrap .sec4_right_container {
        width: 80%;
    }
    .section4_wrap .sec4_right_container{
        padding: 0;
    }
    .section4_wrap .swiper-button-next, .section4_wrap .swiper-rtl .swiper-button-prev{
        right: -40px;
    }
    .section4_wrap .swiper-button-prev, .section4_wrap .swiper-rtl .swiper-button-next{
        left: -40px;
    }
}
@media (max-width:650px){
    .section2_wrap .section2_left h2{
        margin-bottom: 20px;
    }
    
    .section_wrap .section .section_main .section_box1 {
        background-position: -870px;
    }
    .footer_wrap .footer_bottom .fb_txt{
        font-size: 12px;
    }
    .section4_wrap .section4_left {
        background: none;
        display: block;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-bottom: 10px;
        color: #1a1a1e;
        text-align: left;
        
    }
    .section4_left h2{
        font-size: 20px;
    }
    .section3_bottom {
        margin-bottom: 20px;
    }
    .section4_wrap {
        padding: 16px;
    }
    .section4_wrap .sec4_right_container{
        width: 100%;
    }
    .sec4_right_container .swiper-button-prev:after, 
    .sec4_right_container .swiper-rtl .swiper-button-next:after,
    .sec4_right_container .swiper-button-next:after, 
    .sec4_right_container .swiper-rtl .swiper-button-prev:after{
        display: none;
    }
    .section5_wrap{
        padding-left: 0;
        padding: 16px;
    }
    
    .section5_wrap h2 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .section5_wrap .section5{
        width: 105%;
    }
}